* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

body {

  background: #f4f6f9;

}

header {

  background: #1E3A8A;
  color: white;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 40px;

}

header a {

  color: white;

  text-decoration: none;

  font-weight: bold;

}

main {

  display: flex;

  justify-content: center;

  align-items: center;

  height: 85vh;

}

.login-card {

  width: 420px;

  background: white;

  border-radius: 12px;

  padding: 35px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, .15);

}

.login-card h2 {

  text-align: center;

  margin-bottom: 10px;

}

.login-card p {

  text-align: center;

  margin-bottom: 25px;

  color: #666;

}

label {

  display: block;

  margin-top: 15px;

  margin-bottom: 6px;

  font-weight: bold;

}

input {

  width: 100%;

  padding: 12px;

  border: 1px solid #ccc;

  border-radius: 8px;

}

input:focus {

  outline: none;

  border-color: #1E3A8A;

}

button {

  width: 100%;

  margin-top: 25px;

  padding: 14px;

  border: none;

  border-radius: 8px;

  background: #1E3A8A;

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: .3s;

}

button:hover {

  background: #2949ad;

}


.modal-msg {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, .5);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 9999;

}

.modal-msg.hidden {

  display: none;

}

.modal-msg-content {

  width: 350px;

  background: #fff;

  padding: 30px;

  border-radius: 12px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, .2);

}

.modal-msg-content h2 {

  margin: 15px 0;

}

.modal-msg-content p {

  margin-bottom: 20px;

}

.modal-msg-content button {

  padding: 10px 30px;

  border: none;

  border-radius: 8px;

  background: #2563eb;

  color: white;

  cursor: pointer;

}

#iconeModal {

  font-size: 55px;

}